body {
    font-family: Arial, sans-serif;
}
form {
    width: 500px;
    margin: 0 auto;
}
label {
    display: block;
    margin-bottom: 10px;
}
input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="date"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
input[type="checkbox"],
input[type="radio"] {
    margin-right: 10px;
}
input[type="submit"] {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
h1 {
    color:rgb(0, 132, 57);
}